# Baggin Classifier

In [17]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [14]:
iris = load_iris(as_frame=True)
iris.data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [15]:
iris.target

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [23]:
from sklearn.ensemble import BaggingClassifier
# Split the dataset
X_train , X_test , y_train , y_test = train_test_split(iris.data,iris.target,test_size=0.2,random_state=42)
#define the Base Estimator
base_estimator = DecisionTreeClassifier(random_state=42)
#initialize the Bagging Classifier
bag_clf = BaggingClassifier(
    estimator = base_estimator,
    n_estimators = 10,   #Number of Trees in the ensemeble
    max_samples =1.0, #use all features for each tree
    bootstrap = True, #Sampling with replacement
    random_state = 42
)

#Train the model
bag_clf.fit(X_train,y_train)

#making the prediction
y_pred = bag_clf.predict(X_test)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

1.0